#heatmapArea {
    position: relative;
    float: left;
    height: 500px;
    width: 600px;
}

body {padding-top: 60px;}
.noty_modal {z-index: 10000000;}
.noty_bar{z-index: 10000001;}
.toolbox img {width : 32px ;}

      .bigradio{
        padding: 25px 40px; 
        font-size: 2em ;
      }
      .btn-group.centered{
          width: 300px; 
          margin: 0 auto ;
        }